// $action: #a65b3f;
// $action: #d4a373;
$action: #c8a588;

$text: #53412c;

$textAccordion: rgba(255, 255, 255, 0.6);

$phone: rgba(28, 174, 28, 0.982);

$background: #f2f2f2;
$color1: #b58863c5;
$color2: #ffdab9;
$grey: #f7f7f7;
$color3: #ffe4b5;
$darkbrown: #6b5338;

$strona: rgb(236, 226, 217);
$strona2: rgb(224, 205, 188);
